@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------ shared styles--------------- */

.container {
    width: 68%;
    height: 600px;
    max-width: 1920px;
    margin: 0 auto;
}

.btn-primary {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: none;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {

    transition: 0.8s;
    background: #f00;
}

.btn-secondery {
    color: #fff;
    background: #f00;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: none;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
}





/*------------------- head container--------------- */

.head {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
    border-radius: 16px;
}

.head-contant img {
    position: relative;
    z-index: -1;
}

.head-text {
    height: 246px;
    width: 632px;
    position: absolute;
    top: 256px;
    right: 596px;
    text-align: center;
}

.head-text h4 {
    color: #fff;
    font-family: "Merriweather", serif;

    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.head-text h2 {
    color: #fff;
    font-family: "Merriweather", serif;

    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

/* ----------------sale section------------------------ */

.sale-container {
    width: 41.82%;
    max-width: 1920px;
    height: 800px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.sale-text h1 {
    color: #f00;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.sale-text h4 {
    color: #f00;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sale-text h3 {
    color: #070211;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.sale-image img {
    width: 802.9px;
    height: 500px;
    background-size: contain;
}

/*------------------------- banner section----------------------- */

.banner {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-top: 100px;
    position: relative;
}

.banner-year {}


.image img {
    position: relative;
    z-index: -1;
}

.banner-text {
    position: absolute;
    top: 74px;
    width: 642px;
    height: 320px;
    margin: 126px 497px 142px 126px;
}

.banner-text h2 {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-top: 24px;
}

.banner-text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}



.banner-year {
    position: relative;
    top: -558px;
    right: -843px;
    width: 319.83px;
    height: 464.662px;
}



/*--------------------hotel section------------------------- */

.hotel {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 120px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.hotel-content {
    width: 549px;
    height: 168px;
    margin-top: -200px;
    text-align: center;
}

.hotel-content h3 {
    color: #070211;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.hotel .btn-secondery {
    position: absolute;
    z-index: -1;
    background: #f00;
    margin-top: 50px;
}


/*------------------------ coming soon section----------------------- */
.coming-soon{
    display: flex;
    justify-content: space-between;
}


.coming-soon-circle{
    width: 463px;
    height: 463px;
    border-radius: 50%;
    border: 15px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon-circle-img{
    
    background-image: url('../resources/Ellipse\ 1.png');
    background-size: contain;
    height: 365px;
    width: 365px;
    border-radius: 50%;

}